---
import Layout from "../layouts/Layout.astro";
import { menu } from "../constants";
import MenuCard from "../components/MenuCard.astro";
---

<Layout
  title="Menu | Casa Real Mexican Restaurant"
  description="Savor the best Mexican cuisine in Colchester, Vermont at our renowned restaurant. Explore a diverse menu of authentic dishes, meticulously crafted with locally sourced, fresh ingredients. From flavorful tacos to mouthwatering guacamole, our Mexican restaurant delivers an unforgettable culinary experience. Join us for a fiesta of taste and hospitality, making us your go-to destination for the finest Mexican food in Colchester, VT. Discover the perfect blend of tradition and local flair, elevating your dining experience with every bite"
>
  <section class="max-w-6xl mx-auto px-4 py-10">
    <h1 class="text-3xl text-center pt-10 font-bold tracking-tight md:text-4xl">
      Menu
    </h1>
    <p class="max-w-prose text-lg text-center pt-6 mx-auto text-stone-600">
      Our delicious menu is available for dine-in, takeout, and delivery
    </p>
    <section class="flex md:gap-6 lg:gap-12 sticky top-1 pt-12">
      <div
        id="tableOfContents"
        class="hidden md:block w-1/4 sticky top-6 self-start min-w-40"
      >
        <ul class="grid grid-cols-1 gap-0.5 text-stone-600">
          {
            menu.map((category) => (
              <li>
                <a
                  class="block aria-[current]:bg-amber-400 aria-[current]:text-amber-950 aria-[current]:font-medium px-2 py-0.5 rounded"
                  href={"#" + category.id}
                >
                  {category.label}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div id="body" class="border p-5 sm:p-7 md:p-8 bg-white rounded-md">
        <div id="my-gallery" class="flex-1 grid grid-cols-1 gap-12">
          {
            menu.map((category) => (
              <section id="category-section">
                <h2 id={category.id} class="font-bold text-2xl scroll-m-4">
                  {category.label}
                </h2>
                <ul class="grid grid-cols-1 gap-12 mt-4">
                  {category.items.map((item) => (
                    <MenuCard
                      name={item.name}
                      price={item.price}
                      description={item.description}
                    />
                  ))}
                </ul>
              </section>
            ))
          }
        </div>
      </div>
    </section>
  </section>
</Layout>
<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#my-gallery",
    children: "#photo",
    showHideAnimationType: "fade",
    pswpModule: () => import("photoswipe"),
  });
  lightbox.init();

  const setCurrent: IntersectionObserverCallback = (entries) => {
    for (const { target, isIntersecting } of entries) {
      const id = target.querySelector("h2")?.id;
      const navItem = document.querySelector(
        `#tableOfContents a[href="#${id}"]`,
      );

      if (!navItem) continue;
      if (isIntersecting) {
        navItem.setAttribute("aria-current", "page");
      } else {
        navItem.removeAttribute("aria-current");
      }
    }
  };

  const toObserve = document.querySelectorAll("#category-section");
  let observer: IntersectionObserver | undefined;
  const observe = () => {
    if (observer) observer.disconnect();
    observer = new IntersectionObserver(setCurrent);
    toObserve.forEach((section) => {
      observer!.observe(section);
    });
  };

  observe();
</script>
